@model SoundBase.Models.ProjectCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Project.CreatorId" class="form-control" asp-items="ViewBag.UserId" />
            </div>
            <div class="form-group">
                <label asp-for="Project.ArtistName" class="control-label"></label>
                <input asp-for="Project.ArtistName" class="form-control" />
                <span asp-validation-for="Project.ArtistName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Title" class="control-label"></label>
                <input asp-for="Project.Title" class="form-control" />
                <span asp-validation-for="Project.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Description" class="control-label"></label>
                <input asp-for="Project.Description" class="form-control" />
                <span asp-validation-for="Project.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" /><br><br>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=" MemberRoleId" class="control-label"></label>
                <select asp-for=" MemberRoleId" class="form-control" asp-items="ViewBag.MemberRoleId">
                    <option value=0>Your Role</option>
                </select>
            </div>
            @*if product type is null displays window message*@
            @if (ViewBag.Message != null)
            {
                <script type="text/javascript">
                    window.onload = function() {
                        alert("@ViewBag.Message");
                    }
                </script>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
