@model SoundBase.Models.ProjectEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<partial name="_sideBar" />

<div class="projectContainer">
    <partial name="_ProjectTopBar" />
    <div class="editContainer">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Project.ProjectId" />
            <input type="hidden" asp-for="Project.DateCreated" />
            <input type="hidden" asp-for="Project.CreatorId" />
            <input type="hidden" asp-for="ImagePath" />

            <div class="editFormBackground">
                <div class="editFormGroup">
                    <label class="categoryTitle">Artist Name:</label><br />
                    <input asp-for="Project.ArtistName" class="editInput" />
                    <span asp-validation-for="Project.ArtistName" class="text-danger"></span>
                </div>
                <div class="editFormGroup">
                    <label class="categoryTitle">Title</label><br />
                    <input asp-for="Project.Title" class="editInput" />
                    <span asp-validation-for="Project.Title" class="text-danger"></span>
                </div>
                <div class="editFormGroup">
                    <label class="categoryTitle">Description:</label><br />
                    @Html.TextArea("Project.Description", new { rows = 4, cols = 40 })
                    <span asp-validation-for="Project.Description" class="text-danger"></span>
                </div>
                <div class="editFormGroup">
                    <label for="imageUpload" class="categoryTitle">
                        Upload New Cover Image:<br />
                        <div class="uploadButton">
                            Choose File
                        </div>
                    </label><br />
                    <input id="imageUpload" asp-for="Project.ImagePath" class="inputFile" type="file" />
                    <span asp-validation-for="Project.ImagePath" class="text-danger"></span>
                </div>
            </div>
            <div class="editFormGroup">
            <button type="submit" class="editSaveButton">Save Changes</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
