@model IEnumerable<SoundBase.Models.Project>

@{
    ViewData["Title"] = "Index";
}


<div class="inviteContainer">
<a asp-action="Create" class="wideButton">Create New Project</a>
    @if (Model.Count() == 0)
    {
        <div class="noneFound">
            <div class="noneFoundContents">
                <i class="fas fa-sad-cry fa-10x"></i><br />
                <div style="margin-top: 6px">Sorry, you have not been assigned any projects</div>
            </div>
        </div>
    }
    else
    {
        <div class="header">Select a project:</div>
        @foreach (var project in Model)
        {
            <a class="inviteCard cardBgHover" asp-action="Chat" asp-route-id="@project.ProjectId">
                <div>
                    <div class="inviteCardContents">
                        <div class="projectTopBarContents">
                            @if (project.ImagePath != null)
                            {
                                <img src="/images/@project.ImagePath" width="60" height="60" />
                            }
                            <div class="projectTopBarText">
                                <div class="projectTopBarArtistName">
                                    @project.ArtistName
                                </div>
                                <div class="projectTopBarTitle">
                                    @project.Title
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        }
    }
</div>

<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>