@model SoundBase.Models.TrackCreateViewModel

@{
    ViewData["Title"] = "UploadTrack";
}

<partial name="_sideBar" />
<div class="projectContainer">
    <partial name="_ProjectTopBar" />
    <div class="editContainer">
        <form asp-action="UploadTrack" enctype="multipart/form-data">
            <div class="editFormBackground">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Track.ProjectId" />
                <div class="editFormGroup">
                    <label class="categoryTitle">Title</label><br />
                    <input asp-for="Track.Title" class="editInput" />
                    <span asp-validation-for="Track.Title" class="text-danger"></span>
                </div>
                <div class="editFormGroup">
                    <label for="trackUpload" class="categoryTitle">
                        Upload Track<br />
                        <div class="uploadButton">
                            Choose File
                        </div>
                    </label><br />
                    <input id="trackUpload" asp-for="AudioFile" class="inputFile" type="file" />
                    <span asp-validation-for="AudioFile" class="text-danger"></span>
                </div>
            </div>
            <div class="editFormGroup">
                <button type="submit" class="editSaveButton">Submit</button>
            </div>
        </form>
    </div>
</div>
